<div>
  <ng-container *ngFor="let key of getArray()">
    <ng-container
      [ngSwitch]="getControlType(viewModel.controlList[key].controlType)"
    >
      <rkt-unit-slider
        *ngSwitchCase="'UnitSlider'"
        [inputModel]="viewModel.controlList[key]"
      >
      </rkt-unit-slider>
      <ng-container *ngSwitchCase="'DropDown'">
        <rkt-dropdown [inputModel]="viewModel.controlList[key]"> </rkt-dropdown>
      </ng-container>
      <ng-container *ngSwitchCase="'TextInput'">
        <rkt-text-input [inputModel]="viewModel.controlList[key]">
        </rkt-text-input>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
