<svg>
  <g
    [attr.transform]="
      'translate(' + viewModel.origin.x + ',' + viewModel.origin.y + ')'
    "
  >
    <circle [attr.r]="radius" fill="white" />
    <circle
      [attr.r]="radius - border / 2"
      [attr.stroke-width]="border"
      [attr.stroke]="'blue'"
      fill="none"
    />
    <path
      [attr.d]="
        'M 0 -' +
        radius +
        ' A ' +
        radius +
        ' ' +
        radius +
        ' 0 0 1 ' +
        radius +
        ' 0 h -' +
        radius
      "
      [attr.fill]="'blue'"
    />
    <path
      [attr.d]="
        'M 0 ' +
        radius +
        ' A ' +
        radius +
        ' ' +
        radius +
        ' 0 0 1 -' +
        radius +
        ' 0 h ' +
        radius
      "
      [attr.fill]="'blue'"
    />
  </g>
</svg>
