<div class="controlPanelContainer">
  <div class="treeDrawerContainer">
    <rkt-tree-drawer
      [viewModel]="rocket"
      (edit)="drawerButton($event)"
    ></rkt-tree-drawer>
  </div>
  <mat-sidenav-container class="editorContainer">
    <mat-sidenav mode="side" opened>
      <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" vertical>
        <mat-button-toggle value="build" checked>
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="info">
          <mat-icon>info</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="tree">
          <mat-icon>add</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="appearance">
          <mat-icon>brush</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-sidenav>
    <mat-sidenav-content [ngSwitch]="toggleGroup.value">
      <div class="controlPanelSwitchContainer">
        <ng-container *ngSwitchCase="'build'">
          <rkt-part-editor [viewModel]="editorVM"></rkt-part-editor>
        </ng-container>
        <ng-container *ngSwitchCase="'info'">
          <rkt-part-data></rkt-part-data>
        </ng-container>
        <ng-container *ngSwitchCase="'tree'">
          <rkt-part-toolbox
            (buttonClicked)="addChild(); toggleGroup.value = 'build'"
          ></rkt-part-toolbox>
        </ng-container>
        <ng-container *ngSwitchCase="'appearance'">
          <rkt-part-appearance></rkt-part-appearance>
        </ng-container>
        <div *ngSwitchDefault>Under Construction</div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
