<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <rkt-control-panel></rkt-control-panel>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      id="sideNavToggleButton"
      disableRipple
      (click)="sidenav.toggle()"
      mat-icon-button
    >
      <mat-icon *ngIf="sidenav.opened">clear</mat-icon>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    </button>
    <rkt-rocket-drawing [viewModel]="rocketDrawing"></rkt-rocket-drawing>
  </mat-sidenav-content>
</mat-sidenav-container>
