<svg:svg
  id="rocketMainSVG"
  #drawingSvg
  (mousedown)="detectedMouseDown($event)"
  (mouseup)="stopPanning()"
  (mousemove)="mouseMove($event)"
  (mouseleave)="stopPanning()"
  (mousewheel)="detectedMouseWheel($event)"
  (pointerdown)="detectedMouseDown($event)"
>
  <line
    id="rocketCenterline"
    [attr.x1]="viewModel.lockPanY ? '50%' : viewModel.drawing_origin.x"
    [attr.x2]="viewModel.lockPanY ? '50%' : viewModel.drawing_origin.x"
    y1="0"
    y2="100%"
    *ngIf="true"
  />

  <svg
    id="drawingContainer"
    [attr.x]="viewModel.lockPanY ? '50%' : viewModel.drawing_origin.x"
    [attr.y]="viewModel.drawing_origin.y"
  >
    <g [attr.transform]="'scale(' + viewModel.drawing_scale + ')'">
      <circle cx="0" cy="0" [attr.r]="1" fill="green"></circle>
      <circle cx="2" cy="2" [attr.r]="1" fill="red"></circle>
      <circle cx="2" cy="-2" [attr.r]="2" fill="red"></circle>
    </g>
  </svg>
</svg:svg>
<div id="drawingCoordsContainer">
  <p id="drawingCoords">{{ viewModel.displayCoords }}</p>
</div>
