#rocketMainSVG
  width: 100%
  height: 100%

#rocketCenterline
  stroke: grey
  stroke-width: 1
  fill: none
  stroke-dasharray: 10 4

#drawingCoordsContainer
  position: absolute
  z-index: 10
  bottom: 0
  right: 0

#drawingCoords
  margin:0
  padding: 5px

#drawingContainer
  overflow: visible
