<svg:svg
  id="rocketMainSVG"
  #drawingSvg
  (mousedown)="detectedMouseDown($event)"
  (mouseup)="stopPanning()"
  (mousemove)="mouseMove($event)"
  (mouseleave)="detectedMouseLeave()"
  (mousewheel)="detectedMouseWheel($event)"
  (pointerdown)="detectedMouseDown($event)"
  (mouseenter)="detectedMouseEnter()"
>
  <!-- Grid and centerline -->
  <svg
    [attr.x]="viewModel.lockPanY ? '50%' : viewModel.drawingOrigin.x"
    [attr.y]="viewModel.drawingOrigin.y"
  >
    <g [attr.transform]="'scale(' + viewModel.drawingScale + ')'">
      <g rkt-svg-girdlines [viewModel]="viewModel.gridLinesViewModel" />
      <g rkt-svg-centerline [viewModel]="viewModel.centerlineViewModel" />
    </g>
  </svg>

  <!-- Drawing -->
  <svg
    [attr.x]="viewModel.lockPanY ? '50%' : viewModel.drawingOrigin.x"
    [attr.y]="viewModel.drawingOrigin.y"
  >
    <g [attr.transform]="'scale(' + viewModel.drawingScale + ')'">
      <ng-container
        *ngFor="let partViewModel of viewModel.drawingPartViewModels"
      >
        <g rkt-svg-rocket-part [viewModel]="partViewModel" />
      </ng-container>
    </g>
  </svg>

  <!-- Cursor -->
  <g rkt-svg-cursor [viewModel]="viewModel.cursorViewModel"></g>
</svg:svg>
<div id="drawingCoordsContainer">
  <p id="drawingCoords">{{ viewModel.displayCoords }}</p>
</div>
