@import './components/_common/svg-base'

#rocketMainSVG
  width: 100%
  height: 100%
  cursor: none
  background-color: $rkt-paper-color

#drawingCoordsContainer
  position: absolute
  z-index: 10
  bottom: 0
  right: 0
  cursor: arrow
  user-select: none
  background-color: $rkt-paper-color

#drawingCoords
  margin:0
  padding: 5px
  color: $rkt-drawingCoords-color
